{{ define "main" }}
    <h1 id="{{ .Title | urlize }}">{{ .Title | markdownify }}</h1>

    {{ .Content }}

    {{ range .Pages }}
    <article class="post">
        <header class="post__header">
            <h1><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
            <p class="post__meta">
                {{ .Params.summary }},
                <span class="date">{{ .Date.Format "2 January 2006" }}</span>
            </p>
        </header>

        <section class="post__summary">
            {{ .Summary }}
        </section>
    </article>
    {{ end }}
    </ul>

{{ end }}

{{define "aside" }}
    Resume available <a href="#">here</a>.
{{ end }}